
#root {
  max-width: auto;
  text-align: center; 
}



.navbar-links a:hover,
.navbar-links button:hover {
  background-color: #f0f0f0;
  color: #0056b3;
}


form {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

button:hover {
  background-color: #0056b3;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} 
